.order-content {
  z-index: 9999;
  color: #fff;
  background-image: url(../../../public/storage/images/order/order-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.go-back-btn,
.help-circle {
display: flex;
}

.help-circle,
.go-back-btn {
margin-left: 5px;
}

.go-back-btn {
margin-top: 20px;
}

.help-circle {
color: #afb5c0;
align-items: flex-end;
}
.help-circle .icon {
font-size: 20px;
line-height: 20px;
}
// .snowfall {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   background-image: url("{{ asset('storage/images/logo/logo.svg') }}");
//     background-repeat: no-repeat;
//     background-position: center;
//     animation: snowfall 10s linear infinite;
//   pointer-events: none; 
//   overflow: hidden;
// }

// .snowflake {
//    filter: brightness(0) saturate(100%) invert(25%) sepia(87%) saturate(315%) hue-rotate(148deg) brightness(104%) contrast(105%);
//   position: absolute;
//   top: -50px; /* Начальная позиция снежинки */
//   opacity: 0;
//   animation: snowfall 10s linear infinite, spin 10s linear infinite;
//     width: 50px;
//     height: auto;
//     background-image: url("{{ asset('storage/images/logo/logo.svg') }}");
//     background-size: cover;


// }

// @keyframes snowfall {
//   0% {
//     top: -50px;
//     opacity: 0.8;
//     transform: translateX(0) rotate(0deg);
//   }
//   100% {
//     top: 100%;
//     opacity: 0.2;
//     transform: translateX(calc(100vw * var(--random-x))) rotate(360deg);
//   }
// }

// @keyframes spin {
//   0% {
//     transform: rotate(0deg);
//   }
//   100% {
//     transform: rotate(360deg);
//   }
// }


.order-logo {
font-size: 20px;
font-weight: bold;
display: flex;
justify-content: center;
align-items: flex-end;
}
.icon {
font-size: 32px;
line-height: 32px;
margin-right: 5px;
}

.order-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.order-details {
  max-width: 800px;
  min-height: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -150px; 
  background: #262626bb;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
}

.order-details__item {
display: flex;
}

.order-details__user {
  background: none;
  backdrop-filter: blur(10px);
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #dadada;
}

.order-item__quantity {
position: absolute;
right: 50px;
top: 30px;
font-size: 20px;
}

.order-item__image {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 3;
}

.order-item__image .logo {
  margin-top: -150px;
  margin-left: -200px;
  width: 200px;
}

.order-item__details {
padding: 30px;
}

.order-item__title {
font-size: 28px;
font-weight: 600;
}

.order-item__price {
font-size: 22px;
color: #bec3cb;
}

.payment-section {
padding: 20px 0 0 0;
}

.payment-section__title {
margin: 40px 0 20px 0;
font-size: 18px;
display: flex;
text-align: left;
}

.payment-methods {
display: flex;
justify-content: center;
align-items: center;
}

.payment-method {
display: flex;
border: 2px solid #d9d9d9;
border-radius: 8px;
padding: 20px 40px;
width: 100%;
justify-content: center;
align-items: center;
cursor: pointer;
color: #d9d9d9;
background: none;
backdrop-filter: blur(5px);
transition: all 0.15s ease;
}

.payment-method:hover {
transform: translateY(-1px);
}

.payment-method:focus {
  border-color: #ff8c45;
  outline: none;
}

.payment-method--blik {
color: #2ca8b5;
}

.payment-method--mastercard {
color: #3f4f8b;
}

.payment-method--visa {
color: #1e3695;
}

.payment-method--blik.active {
border-color: #2ca8b5;
}

.payment-method--mastercard.active {
border-color: #3f4f8b;
}

.payment-method--visa.active {
border-color: #1e3695;
}

.payment-method__image {
width: 45px;
margin-right: 10px;
}

.payment-method__title {
font-size: 22px;
}

.payment-method__price {
font-size: 20px;
font-weight: 500;
}

.payment-methods {
margin-bottom: 10px;
}

.payment-methods .payment-method.active {
transform: translateY(-2px);
}

.payment-methods .payment-method:not(.active) {
color: #d9d9d9;
}

.payment-methods .payment-method--blik.active {
background: linear-gradient(152deg, #09b8ab, #21b0b0, #1b9e9e);
color: #fff;
}

.payment-methods .payment-method--mastercard.active {
background: linear-gradient(152deg, #4151c1, #3f54c3, #3f4f8b);
}

.payment-methods .payment-method--visa.active {
background: linear-gradient(152deg, #00a2e5, #0b96cf, #1e3695);
}

.payment-section__info {
  display: flex;
}

.payment-info__cc .form-cc .form-title {
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 500;
}

.payment-info__cc .form-cc {
  padding: 15px;
  border-radius: 10px;
}

.payment-info__cc .form-cc .form-title {
  margin-bottom: 5px;
}

.payment-info__cc .form-row .form-field {
  width: 100%;
}

.payment-info__cc .form-row .form-field.small {
  width: 48%;
}
